<main class="main">
  <h1 class="text-3xl text-center font-semibold mb-[30px]">{{title}}</h1>
  <p *ngIf="isLoading" class="text-center">Loading...</p>
  <div *ngIf="!isLoading">
    <div class="card" *ngFor="let article of articles">
      <div class="flex justify-between items-center">
        <p class="source">{{article.publishedAt | date:'dd/MM/yyyy'}} | {{article.source.name}}</p>
        <p class="source">Author: {{article.author || "N/A"}}</p>
      </div>
      <img src="{{article.urlToImage}}" layout="intrinsic" width="530" height="300" class="h-[300px] object-fill" loading="lazy" alt="{{article.title}}" />
      <h3 class="title font-semibold">{{article.title}}</h3>
      <p class="details">{{article.description}}</p>
      <a href="{{article.url}}" class="text-sm text-blue-500">Read more</a>
    </div>
    <div class="page">
      <p-paginator [first]="first" [rows]="limit" [totalRecords]="totalResults" (onPageChange)="changePage($event)"></p-paginator>
    </div>
  </div>
</main>